.display-page {
  text-align: center;
  margin-top: 50px;
  background-color: white;
  color: black;
  height: 100vh;
}

.logo {
  width: 30%;
  height: 30%;
  object-fit: cover;
}

.ticker-name {
  font-size: 48px;
  color: #7200ff;
}

.stock-price, .loading, .error-message {
  font-size: 24px;
  margin: 20px 0;
}

.back-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #7200ff;
  color: white;
  border: none;
  cursor: pointer;
}
